@charset "UTF-8";


@media screen and (min-width:600px) {
    body {
        background-image: linear-gradient(to bottom,#50723C 40%, #3c5272);
    }
    section.form-container {
        width: 600px;
        height: 250px;
    }
    section#signup-container {
        height: 310px;
    }

    section.form-container > div.image-cacun{
        float: left;
        width: 30%;
        height: 90%;
        margin: 5px;
    }

    section.form-container > div.form {
        float: right;
        width: 60%;
        height: 100%;
    }
}

